* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background: #000;
}

.camera-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#camera {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mensagem {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 0 2px 5px black;
    z-index: 10;
}

.mensagem h1 {
    font-size: 28px;
}

.mensagem p {
    margin-top: 5px;
    font-size: 16px;
}

button {
    position: absolute;
    bottom: calc(30px + env(safe-area-inset-bottom));

    left: 50%;
    transform: translateX(-50%);

    padding: 15px 30px;

    border: none;
    border-radius: 30px;

    background: white;
    color: black;

    font-size: 18px;
    font-weight: bold;

    cursor: pointer;

    z-index: 20;

    min-height: 52px;
    white-space: nowrap;
}